# macOS Shit
.DS_Store

# Config
config.toml
config.yaml

# Dev
.vscode/
TODO.md
node_modules/
pnpm-workspace.yaml

# Build
build/
web/assets/app.min.js
web/assets/theme.min.js
web/**.html

# Tauri
/src-tauri/target/
/src-tauri/gen/schemas

# Temp
/Dev/
icons/
